@model Movies_Gallery.ViewModel.MovieResultsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Microsoft.AspNetCore.Identity
@using Movies_Gallery.Entities

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = Model.Movie.Title;
    ViewData["MovieId"] = Model.Movie.Id;
}

<div class="card">
    <div class="card-body">
        <div class="card-title text-center" style="font-size:40px">@Model.Movie.Title</div>
        <div class="card-body">
            <div class="text-center">

                <p>Release Date: @Model.Movie.ReleaseYear.ToShortDateString()</p>
                <p>Duration: @Model.Movie.Duration</p>
                <p>Director: @Model.Movie.Director</p>

                @if (SignInManager.IsSignedIn(User))
                {
                    <partial name="~/Views/Shared/_CommentBox.cshtml" model="new Comment()" view-data="ViewData" />
                }
                else
                {
                    <p style="color:red">You cannot add comment if you are not login</p>
                }
                <hr />

                @if (Model.Comments.Any())
                {
                    @foreach (var comment in Model.Comments)
                    {
                        <p class="text-left">@Model.Users.FirstOrDefault(x => x.Id == comment.UserId).UserName</p>
                        <p class="text-left">@comment.CommentText <span style="font-size:13px">@comment.ReleaseCreate.ToShortDateString()</span></p>

                        <hr />
                    }
                }
            </div>
        </div>
    </div>
</div>